<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <style type="text/css">


  </style>


  <!-- <link rel="stylesheet" href="views/public/file.css"> -->
</head>

<body>

  <form action="/admin" method="post">

    <div class="ui input focus admin-username">
      <input type="text" placeholder="Admin username" name="username">
    </div>

    <div class="ui input focus admin-password">
      <input type="password" placeholder="enter password" name="password">
    </div>

    <button class="ui button" type="submit">Submit</button>

  </form>







</body>

</html>
