<html>
    <head>
        <title>Restraunt</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    </head>
    <body>
        <div class="ui main text container segment">
            <div class="ui huge header">Book Your Seat</div>
            <form action="/book" method="POST" class="ui form">
                <div class="field">
                    <input type="text" name="person[name]" placeholder="Name">
                </div>
                <div class="field">
                    <input type="number" name="person[totalSeats]" placeholder="Number of seats" min="1" max="8">
                </div>
                <div class="field">
                    <input type="submit" class="ui big secondary button">
                </div>
            </form>
        </div>
    </body>
</html>