<html>
    <head>
        <title>Restaurant</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    </head>
    <body>
          <% persons.forEach(function(person){ %>
                <h1>People in Queue</h1>
          <table class="ui celled table">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Seats</th>
                  </tr>
                  <tbody>
                        <td data-label="Name"><%= person.name %></td>
                        <td data-label="Seats"><%= person.totalSeats %></td>
                  </tbody>
              </thead>
          </table>
            <% } %>
    </body>
</html>
