<html>
    <head>
        <title>Restaurant</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
            <h1>People in Queue</h1>
            <% persons.forEach(function(person){ %>
          <table class="ui celled table">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Seats</th>
                  </tr>
                  <tbody>
                        <td data-label="Name"><%= person.name %></td>
                        <td data-label="Seats"><%= person.totalSeats %></td>
                  </tbody>
              </thead>
          </table>
            <% }) %>
    </body>
</html>